<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div><%= image_tag 'logo.png', class: 'border border-dark little-logo' %></div>
  <div class="footer-copyright">
      With love from the Skinny Leopard devs :))
  </div>
</div>
