<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.solent.ac.uk/image-library/facilities/music-practice-rooms-banner.jpg);">
    <h1>Skinny Leopard <strong>creative solutions</strong> for <strong>creative musicians</strong>!</h1>
    <p>Find an amazing instrument to rent!</p>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group", id="search_bar">
        <%= f.input :name, class: "form-control string required", :label => false, placeholder: "Guitars, drums, saxophone, vintage synths....." %>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
  <div class="desc-row">
    <h3 class="desc-text">Put your unused instruments to good use by renting out your gear.</h3>
    <p class="desc-text">Join the thousands of musicians earing extra cash today!</p>
  </div>
</div>

<div></div>

<div class="container d-flex cards-container">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1461784121038-f088ca1e7714?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
    </div>
</div>
