.footer {
  background: $yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: $gray;
  border-style: groove;
  margin-top: 50px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.little-logo {
  width: 64px;
  height: 64px;
  align-items: center;
  box-shadow: 5px 5px $black;
  left: 120%;
  position: relative;
}

.footer-copyright {
  color: $yellow;

  &:hover {
    color: $black;
  }
}
