.navbar-lewagon {
  justify-content: space-between;
  background: $white;
  background-color: $yellow;
  color: $black;
  align-items: center;
  height: 70px;
  display: flex;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  justify-content: flex-end;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  box-shadow: 5px 5px;
}

.company-name {
  font-family: 'Stylish', sans-serif;
  font-size: 48px;
  color: $black;
  justify-content: center;
}

.text-font {
  font-family: "Open Sans", "Helvetica", "sans-serif";
}
.newlisting {
  display: flex;
  align-items: center;
  border: 1px solid $black;
  border-radius: 16px;
  padding: 4px;
  p {
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 1rem;
  }
}

.buttons-flex {
  display: flex;
  align-items: center;
}
 #navbar {
  position: sticky;
  z-index: 1;
  top: 0;
 }

.logos {
  justify-content: flex-start;
}

.transparent-navbar {
  transition: 0.5s background-color ease;
  background-color: rgba(240, 209, 123, 0.3);
}

.padded {
  margin-right: 10px;
}

