.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: #F5D16C;
  color: #272727;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  box-shadow: 5px 5px;
}
