.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: $yellow;
  color: $black;
  align-items: center;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  box-shadow: 5px 5px;
}

.company-name {
  font-family: 'Stylish', sans-serif;
  font-size: 48px;
  color: $black;
  align-items: center;

}
